<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Thanh toán</h1>
            <p>Giờ là lúc hô biến những món đồ trong cửa hàng về với tủ đồ của mình nào! </p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-wrapper">
     <div class="checkout shopping">
        <div class="container">
           <div class="row">
              <div class="col-lg-8 pr-5">
                <!-- <div class="coupon-notice " data-toggle="modal" data-target="#coupon-modal">
                     <div class="bg-light p-3">
                         Bạn có voucher? <a routerLink="/checkout" class="showcoupon" >Nhấn vào đây để nhập mã voucher</a>
                     </div>
                 </div> -->
  
                 <div class="billing-details mt-5">
                    <h4 class="mb-4">Thông tin hóa đơn</h4>
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="company_name">Tên đầy đủ</label>
                                <input type="text" class="form-control" id="company_name"  [(ngModel)]="full_name" [ngModelOptions]="{standalone: true}" placeholder="">
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="company_name">Thành phố</label>
                                 <select class="form-control" [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                                   <option value="">Chọn</option>
                                   <option value="Kon Tum">Kon Tum</option>
                                   <option value="Gia Lai">Gia Lai</option>
                                   <option value="Đăk Lăk">Đăk Lăk</option>
                                   <option value="Lâm Đồng">Lâm Đồng</option>
                                   <option value="Đà Nẵng">Đà Nẵng</option>
                                   <option value="Thành phố HCM">Thành phố HCM</option>
                                   <option value="Hà Nội">Hà Nội</option>
                                </select>
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Địa chỉ</label>
                                <input type="text" class="form-control" id="street" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" placeholder="">
                             </div>
                          </div>
  
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Số điện thoại </label>
                                <input type="text" class="form-control" id="phone" placeholder="" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Ghi chú (nếu có)</label>
                                <textarea class="form-control" id="msg" cols="30" rows="5" placeholder="" [(ngModel)]="note" [ngModelOptions]="{standalone: true}"></textarea>
                             </div>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
  
              <!-- Order sidebar Summery -->
              <div class="col-md-6 col-lg-4">
                 <div class="product-checkout-details mt-5 mt-lg-0">
                       <h4 class="mb-4 border-bottom pb-4">Tóm tắt đơn hàng</h4>
  
                       <div class="media product-card" *ngFor="let c of cartInfo">
                           <p>{{c.product_name}}</p>
                          <div class="media-body text-right">
                             <p class="h5">{{c.count}} x {{c.price}}</p>
                          </div>
                       </div>
  
                       <ul class="summary-prices list-unstyled mb-4">
                          <li class="d-flex justify-content-between">
                             <span >Tạm tính:</span>
                             <span class="h5">{{totalPrice}}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                             <span >Phí vận chuyển:</span>
                             <span class="h5">Miễn phí</span>
                          </li>
                          <li class="d-flex justify-content-between">
                             <span>Thành tiền</span>
                             <span class="h5">{{totalPrice}}</span>
                          </li>
                       </ul>
  
                       <form action="#">
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Chuyển khoản 
                            </label>
  
                            <div class="alert alert-secondary mt-3" role="alert">
                               Hiện tại hệ thống đã có trục trặc, bạn có thể chọn tiền mặt.
                             </div>
                          </div>
  
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                            <label class="form-check-label" for="exampleRadios2" [(ngModel)]="paymentType" [ngModelOptions]="{standalone: true}">
                               Tiền mặt 
                            </label>
                          </div>
  
                           <div class="form-check mb-3">
                              <input type="checkbox" class="form-check-input" id="exampleCheck3" [(ngModel)]="checkRole" [ngModelOptions]="{standalone: true}">
                              <label class="form-check-label" for="exampleCheck3">Tôi đã đọc và đồng ý với các điều kiện của shop</label>
                            </div>
                       </form>
  
                       <div class="info mt-4 border-top pt-4 mb-5">
                          Đơn hàng của bạn sẽ luôn được đảm bảo chất lượng khi nhận hàng <a href="#">privacy policy</a>.
                       </div>
                       <a href="javascript:void(0)" (click)="payment()" class="btn btn-main btn-small">Thanh toán</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  
  
     <!-- Modal -->
     <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
           <div class="modal-content py-5">
              <div class="modal-body">
                 <form>
                    <div class="form-group">
                       <input class="form-control" type="text" placeholder="Enter Coupon Code">
                    </div>
                    <button type="button" class="btn btn-main btn-small" data-dismiss="modal">Apply Coupon</button>
                 </form>
              </div>
           </div>
        </div>
     </div>