<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Địa chỉ</h1>
            <p>Địa chỉ người nhận dùng để vận chuyển hàng đến tận nơi cho khách hàng</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Địa chỉ </li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address">Dashboard</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address">Đơn hàng</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address">Tải về</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" routerLink="/address">Địa chỉ</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address">Tài khoản</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address">Đăng xuất</a>
          </div>
        </div>
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <p>Thông tin địa chỉ dưới đây sẽ được đặt làm mặc định để thanh toán</p>
  
          <div class="account-info">
            <div class="card p-4">
              <h4 class="card-title">Thông tin địa chỉ <a routerLink="/edit-address" class="float-right text-sm">Sửa</a></h4>
              <address>Chang Lynn<br>
                50 Ngô Quyền,<br>
                phường Thống Nhất,<br>
                thành phố Kon Tum<br>
              </address>
            </div>
  
            <div class="card p-4 mt-4">
              <h4 class="card-title">Địa chỉ ship <a routerLink="/edit-address" class="float-right text-sm">Sửa</a></h4>
              Chưa có.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>