<footer> 
  <div class="row">
    <img alt="Christopher Newport University logo" id="logo" src="https://cnu.edu/_assets/svg/logo-white.svg">
  <div id="contact">
    <h1>Connect</h1>
      <address>
        Office of Admission<br>
        One Avenue of the Arts<br>Newport News, VA 23606
      </address>
      <p><strong>Phone</strong>: (757) 594-7015<br/><strong>Email</strong>: <a href="mailto:admit@cnu.edu" target="_blank">admit@cnu.edu</a><br/> <a href="https://www.instagram.com/cnu_admission/" title="instagram"><span class="sr-only">instagram</span>    <i class="fab fa-2x fa-instagram fa-fw">&nbsp;</i>
</a></p>
   
  </div>

  <div id="resources">
     <h1>
      Resources 
    </h1>
    <ul>

      <li>
        <a href="https://admit.cnu.edu/register/?id=bb901bd9-ff61-4ff8-8d3e-d36a181f8548" target="_blank">Request Admission Information</a>
      </li>

      <li>
        <a  href="https://cnu.edu/families/">For Families</a>
      </li>
<li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a  href="https://cnu.edu/visit/campusmap/">Campus Map</a>
      </li>
      <li>
        <a href="https://cnu.edu/public/index.html">Public Information &amp; Policies</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="row">
    <div class="col-12" id="copyright">
      <p align="center">
        <i class="far fa-copyright"><!--copyright--></i> &nbsp; Christopher Newport University | All Rights Reserved 
      </p>
    </div>
  </div>
</footer>