<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <div class="user">
        <div class="avatar-sm float-left mr-2">
          <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="..." class="avatar-img rounded-circle">
        </div>
        <div class="info">
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
            <span>
              TRANG QUẢN TRỊ
              <span class="user-level">{{accountInfor.user_name}}</span>
              <span class="caret"></span>
            </span>
          </a>
          <div class="clearfix"></div>

          <div class="collapse in" id="collapseExample">
            <ul class="nav">
              <li>
                <a href="javascript:void(0)" (click)="showInfoModal()">
                  <span class="link-collapse">Thông tin cá nhân</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav nav-primary">
        <li class="nav-item active">
          <a data-toggle="collapse" [routerLink]="['/admin/statistic']" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Các thành phần chính</h4>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" [routerLink]="['/admin/category']" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-layer-group"></i>
            <p>Danh mục</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse"  [routerLink]="['/admin/brand']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-th-list"></i>
            <p>Thương hiệu</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse"  [routerLink]="['/admin/order']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-bookmark"></i>          
          <p>Hoá đơn</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse"  [routerLink]="['/admin/product']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-box"></i>            
          <p>Sản phẩm</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse"  [routerLink]="['/admin/discount']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-money-bill"></i>            
          <p>Mã giảm giá</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse"  [routerLink]="['/admin/blog']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-book"></i>            
          <p>Blog cá nhân</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" href="#submenu">
            <i class="fa fa-user"></i>            
            <p>Quản lý tài khoản</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="submenu">
            <ul class="nav nav-collapse">
              <li>
                <a data-toggle="collapse" [routerLink]="['/admin/role']" class="nav-link" routerLinkActive="active">
                  <span class="sub-item">Quyền</span>
                </a>
              </li>
              <li>
                <a data-toggle="collapse" [routerLink]="['/admin/account']" class="nav-link" routerLinkActive="active">
                  <span class="sub-item">Tài khoản</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->


<nz-modal [(nzVisible)]="isDisplay" [nzTitle]="titleModal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
      <form class="form-horizontal">       
          <div class="row">
            <div class="col-md-12">
              <label class="col-md-10 require">Email</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="emailUpdate" [ngModelOptions]="{standalone: true}" placeholder="">
            </div>
            <div class="col-md-12">
              <label class="col-md-10">Mật khẩu hiện tại</label>
              <input type="password" class="form-control" placeholder="" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}" placeholder="">
            </div>
            <div class="col-md-12">
              <label class="col-md-10">Mật khẩu mới</label>
              <input type="password" class="form-control" placeholder="" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="">
            </div>
            <div class="col-md-12">
              <label class="col-md-10">Xác nhận mật khẩu mới</label>
              <input type="password" class="form-control" placeholder="" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="">
            </div>
          </div>
        </form>
    </ng-container>
</nz-modal>
