<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Hoá đơn</h2>
                    <h5 class="text-white op-7 mb-2">Trang chủ/Admin/Hoá đơn</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <input type="text" style="float: right; margin-bottom: 10px;" placeholder="tìm kiếm nhanh..." [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}">
                                    <nz-table #basicTable [nzData]="listOrder">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Địa chỉ</th>
                                                <th>Trạng thái</th>
                                                <th>Loại thanh toán</th>
                                                <th>Ngày đặt</th>
                                                <th>Tài khoản</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of basicTable.data | filter:searchString">
                                                <td>{{ data.order_id }}</td>
                                                <td>{{ data.address }}</td>
                                                <td [style]="data.status == 1 ? 'font-weight: bold; color: green' : 'font-weight: bold;color:red'">{{data.status == 1 ? 'Đang vận chuyển' : 'Đã huỷ'}}</td>
                                                <td [style]="data.type_payment == 1 ? 'font-weight: bold; color: green' : 'font-weight: bold;color:yellow'">{{data.status == 1 ? 'Tiền mặt' : 'Chuyển khoản'}}</td>
                                                <td>{{ data.created_at | date: 'dd/MM/yyyy hh:mm:aa'}}</td>
                                                <td>{{ data.account_id }}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-danger" placement="left"
                                                        style="margin-right: 0.1rem;" nzType="dashed" (click)="showConfirm(data.order_id)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
