<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h3 class="mb-2 h2">Lấy lại mật khẩu</h3>
              <p class="lead">Vui lòng nhập địa chỉ email đã đăng ký tài khoản. Một email có chứa mã xác nhận sẽ được gửi vào địa chỉ email của bạn.</p>
            </div>
  
            <form action="#">
              <div class="form-group mb-4">
                <label for="#">Email</label>
                <input type="text" class="form-control"  placeholder="Nhập địa chỉ email" [(ngModel)]="emailFindPass" [ngModelOptions]="{standalone: true}" placeholder="">
              </div>
              <a href="javascript:void(0)" (click)="findPass()" class="btn btn-main mt-3 btn-block">Tìm mật khẩu</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>