<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                      <h4 class="mb-4">FashionShop</h4>
                      <p class="lead">Cửa hàng thời trang uy tín nhất, chất lượng cao, giá cả phải chăng. 
                      </p>
                    
                    <div class="">
                        <p class="mb-0"><strong>Địa điểm : </strong>Thành phố Kon Tum, Việt Nam</p>
                        <p><strong>Email: : </strong> tranvolam12345@gmail.com hoặc quocviet@gmail.com</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                <div class="footer-widget">
                <h4 class="mb-4">Danh mục các sản phẩm</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Thời trang nam</a></li>
                  <li><a href="#">Thời trang nữ</a></li>
                  <li><a href="#">Thời trang trẻ em</a></li>
                  <li><a href="#">Phụ kiện</a></li>
                  <li><a href="#">Bộ sưu tập giày</a></li>
                </ul>
            </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Hữu ích</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Thông tin và &amp; Lời khuyên</a></li>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Cửa hàng</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
                    </div>
            </div>
  
            <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Giờ mở cửa</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Thứ hai - Thứ sáu <span>8:00-21:00</span></li>
                  <li class="d-lg-flex justify-content-between">Thứ bảy <span>10:00-21:00</span></li>
                  <li class="d-lg-flex justify-content-between">Chủ nhật <span>12:00-22:00</span></li>
                </ul>
  
                <h5>Điện thoại : 0764164951</h5>
              </div>
            </div>
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-6">
                 <p class="copyright mb-0 ">@ Copyright Reserved to HoangLam&QuocViet &amp; made by <a>HoangLam&QuocViet</a></p>
             </div>
             <div class="col-lg-6">
                  <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms &amp; Conditions</a></li>
                  <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms of Sale</a></li>
                </ul>
             </div>
         </div>
    </div>
  </div>