<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Giỏ hàng</h1>
          Tự do chọn lựa những món đồ mình mong muốn và cho vào giỏ hàng nhé!

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cart shopping page-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="product-list">
          <form class="cart-form">
            <table class="table shop_table shop_table_responsive cart" cellspacing="0">
              <thead>
                <tr>
                  <th class="product-thumbnail"> </th>
                  <th class="product-name">Sản phẩm</th>
                  <th class="product-price">Giá (VNĐ)</th>
                  <th class="product-quantity">Số lượng</th>
                  <th class="product-subtotal">Thành tiền</th>
                  <th class="product-remove"> </th>
                </tr>
              </thead>

              <tbody>
                <tr class="cart_item" *ngFor="let c of cartInfo">
                  <td class="product-thumbnail" data-title="Thumbnail">
                    <a routerLink="/product-single"><img src="{{c.image}}"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
                  </td>

                  <td class="product-name" data-title="Product">
                    <a href="#">{{c.product_name}}</a>
                  </td>

                  <td class="product-price" data-title="Price">
                    <span class="amount"><span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre>
                      </span>{{c.price | number}}</span>
                  </td>
                  <td class="product-quantity" data-title="Quantity">
                    <span class="amount">
                      <span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre>
                      </span><input style="width:60px;" type="number" [(ngModel)]="c.count" [ngModelOptions]="{standalone: true}"></span>
                  </td>
                  <td class="product-subtotal" data-title="Total">
                    <span class="amount">
                      <span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre>
                      </span>{{c.count*c.price | number}} VNĐ</span>
                  </td>
                  <td class="product-remove" data-title="Remove">
                    <a style="font-size: 40px;font-weight: bold;" href="javascript:void(0)" class="remove" aria-label="Remove this item" data-product_id="30"
                      data-product_sku="" (click)="removeCartItem(c.product_id, c.count*c.price)">×</a>
                      &nbsp; &nbsp;&nbsp;
                    <a style="font-size: 30px;font-weight: bold;color:green" href="javascript:void(0)" class="remove" aria-label="Remove this item" data-product_id="30"
                      data-product_sku="" (click)="updateCountCart(c)"><i class="fa fa-check"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-4">
        <div class="cart-info card p-4 mt-4">
          <h4 class="mb-4">Tổng đơn hàng</h4>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Giá gốc</h5>
              <span>{{totalPrice | number}} VNĐ</span>
            </li>
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Phí ship</h5>
              <span>Miễn phí</span>
            </li>
            <li class="d-flex justify-content-between pb-2">
              <h5>Thành tiền</h5>
              <span>{{totalPrice | number}} VNĐ</span>
            </li>
          </ul>
          <a routerLink="/checkout" class="btn btn-main btn-small">Tiến hành thanh toán</a>
        </div>
      </div>
    </div>
  </div>
</section>