<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Dashboard</h1>
            <p>Dashboard</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Đơn hàng</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Tải về</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Địa chỉ</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Tài khoản</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/">Đăng xuất</a>
          </div>
        </div>
  
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <p>Xin chào Hoàng Lâm (không phải Hoàng Lâm? <a routerLink="/">Đăng xuất</a>)</p>
          Từ đây bạn có thể xem <a href="#">đơn hàng</a>, quản lý <a href="#">địa chỉ nhận hàng</a> và <a href="#">thay đổi mật khẩu hoặc thông tin cá nhân</a>.
        </div>
      </div>
    </div>
  </section>