<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Tài khoản</h2>
                    <h5 class="text-white op-7 mb-2">Trang chủ/Admin/Tài khoản</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <input type="text" style="float: right; margin-bottom: 10px;" placeholder="tìm kiếm nhanh..." [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}">
                                    <nz-table #basicTable [nzData]="listAccount">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>User name</th>
                                                <th>Admin</th>
                                                <th>Active</th>
                                                <th>Địa chỉ</th>
                                                <th>SĐT </th>
                                                <th>Họ tên</th>
                                                <th>Email</th>
                                                <th>Quyền</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of basicTable.data | filter:searchString">
                                                <td>{{ data.account_id }}</td>
                                                <td>{{ data.user_name }}</td>
                                                <td style="font-weight: bold; color:green" *ngIf="data.admin">V</td>
                                                <td style="font-weight: bold; color:red" *ngIf="!data.admin">X</td>
                                                <td style="font-weight: bold; color:green" *ngIf="data.active">V</td>
                                                <td style="font-weight: bold; color:red" *ngIf="!data.active">X</td>
                                                <td>{{ data.address }}</td>
                                                <td>{{ data.phone }}</td>
                                                <td>{{ data.full_name }}</td>
                                                <td>{{ data.email }}</td>
                                                <td>{{ data.role_code }}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-warning" placement="left"
                                                        style="margin-right: 0.5rem;" (click)="showAddModal('Update', data)">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-danger" placement="left"
                                                        style="margin-right: 0.1rem;" nzType="dashed" (click)="showConfirm(data.account_id)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isDisplay" [nzTitle]="titleModal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form class="form-horizontal" [formGroup]="AddForm">       
            <div class="row">
              <div class="col-md-12">
                <label class="col-md-10 require">Địa chỉ</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="nhập...">   
              </div>
              <div class="col-md-12">
                <label class="col-md-10">SĐT</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="nhập...">
              </div>
              <div class="col-md-12">
                <label class="col-md-10">Họ tên</label>
                <input type="text" class="form-control" formControlName="full_name" placeholder="nhập...">
              </div>
              <div class="col-md-12">
                <label class="col-md-10">Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="nhập...">
              </div>
              <label class="col-md-12">Quyền</label>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select role" formControlName="role_code">
                  <nz-option *ngFor="let c of listRole" [nzLabel]="c.role_name" [nzValue]="c.role_code">
                      {{c.role_name}}</nz-option>
              </nz-select>
             <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><input type="checkbox" formControlName="admin">  Admin</div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input type="checkbox" formControlName="active">  Active</div>
                </div>
             </div>
            </div>
          </form>
      </ng-container>
</nz-modal>