<div class="page-inner">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-dark bg-primary-gradient">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-user"></i></div>
                    <h2 class="mb-2">{{listAccount.length ?? 0}}</h2>
                    <p>Người dùng</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div id="lineChart"><canvas width="327" height="70" style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-dark bg-secondary-gradient">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-book" aria-hidden="true"></i></div>
                    <h2 class="mb-2">{{listProduct.length ?? 0}}</h2>
                    <p>Sản phẩm</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div id="lineChart2"><canvas width="327" height="70" style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-dark bg-success2">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                    <h2 class="mb-2">{{listOrder.length ?? 0}}</h2>
                    <p>Giao dịch</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div id="lineChart3"><canvas width="327" height="70" style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Thống kê người dùng</div>
                        <div class="card-tools">
                            <a href="javascript:void(0)" (click)="exportExcel()" class="btn btn-info btn-border btn-round btn-sm mr-2">
                                <span class="btn-label">
                                    <i class="fa fa-print"></i>
                                </span>
                                Export
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-hover table-sales" style="overflow-y: auto;max-height:400px">
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Admin</th>
                                    <th>Active</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listAccount">
                                    <td>{{ data.account_id }}</td>
                                    <td>{{ data.user_name }}</td>
                                    <td *ngIf="data.admin"><i style="color: green;" class="fa fa-check"></i></td>
                                    <td *ngIf="data.active"><i style="color: green;" class="fa fa-check"></i></td>
                                    <td *ngIf="!data.admin" style="color: red;">X</td>
                                    <td *ngIf="!data.active" style="color: red;">X</td>
                                    <td>{{ data.email }}</td>
                                    <td>{{ data.role_code }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header">
                    <div class="card-title">Daily Product</div>
                </div>
                <div class="card-body pb-0">
                    <div class="mb-4 mt-2">
                        <h1>VND {{total_price}}</h1>
                    </div>
                    <div class="pull-in">
                        <canvas id="MyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Top Products</div>
                </div>
                <div class="card-body pb-0">
                    <div class="d-flex" *ngFor="let p of listProduct">
                        <div class="avatar">
                            <img src="#" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="flex-1 pt-1 ml-2">
                            <h6 class="fw-bold mb-1">{{p.product_name}}</h6>
                            <small class="text-muted">{{p.category_name}}</small>
                        </div>
                        <div class="d-flex ml-auto align-items-center">
                            <h3 class="text-info fw-bold">{{p.price}} VND</h3>
                        </div>
                    </div>
                    <div class="separator-dashed"></div>
                </div>
            </div>
        </div>
    </div> -->
</div>